.scrbox {
    border: 1px solid rgb(238, 217, 217);
    border-left: 0;
    border-right: 0;
    height: 400px;
    width: 720px;
    overflow-y: auto;
}

.black {
    color: rgb(0, 0, 0);
}

body::before {
    content: "";
    background: url(./123.jpg);
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#itemList {
    font-size: 1.5rem;
}

.show {
    display: block;
}

.hide {
    display: none;
}